{% extends "base.html" %}
{% block content %}
<h2 class="section-title">Change Password</h2>
<div class="system-panel form-panel">
  <form method="POST">
    <label for="old_password" class="form-label">Old Password:</label>
    <input type="password" id="old_password" name="old_password" required class="form-input"/>

    <label for="new_password" class="form-label">New Password:</label>
    <input type="password" id="new_password" name="new_password" required class="form-input"/>

    <button type="submit" class="system-button">Update Password</button>
  </form>
</div>
{% endblock %}
